desktop.ini
.DS_Store
*.lnk
~$*
bin
*.pyc
CI_EXPORT/
node_modules
**/MotphysDev*
*/.idea/*
StreamingAssets/
StreamingAssets.meta
InitTestScene*
/hooks/
/lfs/
**/CodeCoverage/
package-lock.json
packages-lock.json
TestResults.xml
built
backup.txt

/.githubignore
/.gitlab
.vscode
/internal
/.commitlintrc.ts
/.githubignore
/.prettierignore
/.prettierrc.js
/NOTICE
/scripts
/.gitlab-ci.yml
/.mailmap
/.npmrc
/.release-it.js
/.unified-ci.yml
/package.json
com.motphys.rigidbody.native.deterministic
com.motphys.rigidbody.native.deterministic.development
**/Plugins/Android
**/Plugins/iOS
**/Plugins/Linux
**/Plugins/WebGL
**/Plugins/Android.meta
**/Plugins/iOS.meta
**/Plugins/Linux.meta
**/Plugins/WebGL.meta